@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #034f47;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-new-site-bg: #f9f4ea;
  --color-new-site-primary: #000000;
  --color-new-site-primary-fg: #ffffff;
  --color-new-site-secondary: #ffaee7;
  --color-new-site-fg: #000000;
  --font-sans: var(--font-circular);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sorts-mill);
  --animate-marquee-left: marquee-left 35s linear infinite;
  --animate-marquee-right: marquee-right 30s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sorts-mill), "Sorts Mill Goudy", serif;
  font-weight: 500;
}

p,
span,
a {
  font-family: var(--font-circular), sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) :is(span, a) {
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-circular), sans-serif;
}

body[data-menu-status="open"] {
  overflow: hidden;
}

:root {
  --new-site-background-color: #f9f4ea;
  --new-site-button-primary-bg-color: black;
  --new-site-button-primary-text-color: white;
  --new-site-button-secondary-bg-color: #ffaee7;
  --new-site-button-transparent-button-bg-color: transparent;
  --new-site-entire-site-text-color: #000000;
}
